.navigation {
  /* position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 20;
}

.navigation button {
  background: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--shadow-sm);
  font-family: 'Montserrat', sans-serif;
}

.navigation button:hover:not(:disabled) {
  background: var(--primary-dark);
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}

.navigation button:disabled {
  background: var(--text-light);
  cursor: not-allowed;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .navigation {
    width: 97%;
    justify-content: space-between;
  }

  .navigation button {
    padding: 8px 15px;
  }
}

.prev-button {
  background: var(--text-light)!important;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 1024px) {
  .desktop-only {
    display: flex;
  }
}